* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*---header----*/
header .publi {
  display: flex;
  flex-direction: column; }
  header .publi div {
    justify-items: center;
    align-items: center;
    padding: 5px;
    font-family: inspiration;
    display: flex;
    justify-content: space-between; }
    header .publi div img {
      width: 150px;
      height: 105px;
      transition: all 2s; }
    header .publi div div {
      border: dashed 2px orange;
      border-radius: 20px;
      width: 100px;
      height: 70px;
      padding: 10px;
      text-align: center;
      color: yellow;
      transition: all 3s; }
      header .publi div div:hover {
        width: 110px;
        height: 90px; }

.navegadorPagina1, .navegadorPagina2, .navegadorPagina3, .navegadorPagina4, .navegadorPagina5 {
  color: yellow;
  background-image: linear-gradient(to left, #4CAF50, #173819);
  width: 100%;
  border-radius: 5px;
  border: solid 2px orange;
  text-decoration: none;
  padding: 14px;
  font-family: inspiration; }

main h1 {
  font-size: 35px; }

main h2 {
  font-size: 30px; }

main h3 {
  font-size: 27px; }

.principalDeporte {
  color: yellow;
  font-size: 20px; }
  .principalDeporte .deporteHorarios {
    align-items: center;
    padding: 10px; }
    .principalDeporte .deporteHorarios div {
      padding: 10px; }
    .principalDeporte .deporteHorarios .btn {
      background-image: linear-gradient(to left, #4CAF50, #173819);
      color: yellow;
      border: solid 2px orange; }

.form-group {
  text-align: left; }

.form-check {
  text-align: left; }

h1 {
  text-align: center;
  font-family: sendflowers;
  color: orange; }

h2 {
  text-align: center;
  font-family: sendflowers;
  color: orange; }

.social img {
  width: 400px;
  height: 400px; }

.platos {
  color: green; }

.guarni {
  color: #00ff4c; }

.pasta {
  color: #5eff00; }

.mila {
  color: #147014; }

.picada {
  color: #227922; }

.sandw {
  color: #057205; }

.pizza {
  color: #65e265; }

.empa {
  color: #238f23; }

.postre {
  color: #3e663e; }

.bebida {
  color: #044b04; }

/*---footer---*/
.pie {
  font-family: inspiration;
  padding: 10px;
  display: grid;
  grid-template-areas: "pieDireccion pieRedes pieAutor";
  justify-items: center;
  align-items: center; }
  .pie .pieDireccion {
    text-align: center;
    color: yellow;
    padding-bottom: 10px; }
  .pie .pieRedes {
    text-align: center;
    color: yellow; }
  .pie .pieAutor {
    text-align: center;
    color: yellow;
    padding-top: 10px; }
