* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: smokun;
    src: url("../Fuentes/Smokum-Regular.ttf");
}

@font-face {
    font-family: sendflowers;
    src: url("../Fuentes/SendFlowers-Regular.ttf");
}

/*Acá empieza el navegador*/

.principal nav {
    background-image: linear-gradient(to left, #4CAF50, #173819);
    justify-items: stretch;
    text-align: center;
}

.navegadorPagina1, .navegadorPagina2, .navegadorPagina3, .navegadorPagina4, .navegadorPagina5 {
    color: yellow;
    background-image: linear-gradient(to left, #4CAF50, #173819);
    width: 200px;
    border-radius: 5px;
    border: solid 2px orange;
    text-decoration: none;
    padding: 14px;
    font-family: inspiration;
}

/*Acá empieza el Main*/

body {
    height: 100vh;
    background-color: #4CAF50;
    background-image: linear-gradient(to left, #4CAF50, #173819);
}

.publi{
    display: flex;
    flex-direction: column;
}

.publi div {
    justify-items: center;
    align-items: center;
    padding: 5px;
    font-family: inspiration;
    display: flex;
    justify-content: space-between;
}

.publi img{
    width: 150px;
    height: 105px;
    transition: transform 2s
}

.publi div div {
    border: dashed 2px orange;
    border-radius: 20px;
    width: 90px;
    height: 70px;
    padding: 10px;
    text-align: center;
    color: yellow;
    transition: all 3s;
}

.publi div div:hover{
    width: 110px;
    height: 90px;
}

/*Acá empieza el main*/
.principal {
    font-family: inspiration;
}

.fotoRestaurant{
    width: 100%;
    height: auto;
    padding: 2px;
}

.principalDeporte {
    color: yellow;
    font-size: 20px;
}

.principalDeporte > div {
    align-items: center;
    padding: 10px;
}

.principalDeporte div div {
    padding: 10px;
}

.deporteImg5, .deporteImg6, .deporteImg7 {
    border: solid 2px orange;
    border-radius: 15px;
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.deporteHorarios div {
    margin: 10px;
    color: yellow;
    font-size: 20px;
    text-align: justify;
    animation-name: depor;
    animation-duration: 3s;
    animation-iteration-count: 3;
  }
  
  @keyframes depor {
    from {
        margin-left: 100%;
        width: 300%;
      }
    
      to {
        margin-left: 0%;
        width: 100%;
      }
    
  }

.deporteProfe {
    color:yellow;
    font-size: 25px;
}

h1 {
    text-align: center;
    font-family: sendflowers;
    color: orange;
    font-size: 35px;
}

.social img {
    width: 400px;
    height: 400px;
}

h2{
    text-align: center;
    font-family: sendflowers;
    color: orange;
    font-size: 30px;
}

h3{
    text-decoration: underline wavy orange;
    font-family: sendflowers;
    font-size: 27px;
    color: orange;
    text-align: center;
    padding: 5px;
}

.plato{
    font-family: inspiration;
    font-size: 25px;
    text-align: center;
    color: orange;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "plato1 plato2 plato3"
    "plato4 plato5 plato6"
    "plato7 plato8 plato9";
}

.fotoComida{
    width: 25%;
    transform: rotate(10deg);
}

ul {
    color: yellow;
    list-style: none;
    font-size: 22px;
    font-weight: bold;
    font-family: sendflowers;
}

.table {
    table-layout: fixed;
    border: 3px solid orange;
    border-collapse: collapse;
    text-align: center;
    width: 50%;
    height: 50%;
}

th, td {
    padding: 20px;
    border: 2px solid orange;
    font-family: inspiration;
    width: 100%;
    height: 100%;
}

/*Acá empieza el footer*/
.pie {
    font-family: inspiration; 
    padding: 10px;
    display: grid;
    grid-template-areas: 
        "pieDireccion pieRedes pieAutor";
    justify-items: center;
    align-items: center;
}

.pieDireccion {
    text-align: center;
    color: yellow;
    padding-bottom: 10px;
}

.pieRedes {
    text-align: center;
    color: yellow;
}

.pieAutor {
    text-align: center;
    color: yellow;
    padding-top: 10px;
}

/*Acá empieza el reponsive tablet*/
@media (max-width: 768px){
    .publiTitulo {
        display: grid;
        grid-template-areas: 
        "tituloLogo tituloP1" 
        "tituloP2 tituloP3";
    }

    .navegador {
        display: grid;
        grid-template-areas: 
        "navegadorPagina1 navegadorPagina2"
        "navegadorPagina3 navegadorPagina4";
    }

    .social {
        display: grid;
        grid-template-areas:
        "deporteImg1"
        "deporteImg2"
        "deporteImg3" 
        "deporteImg4" ;
    }

    .deporteHorarios{
        display: grid;
        grid-template-areas:
        "deporteImg5"
        "deporteImg6" ;
        }

    .deporteHorarios article {
        display: none;
    }

    .plato{
        display: grid;
        grid-template-areas: 
        "plato1 plato2" 
        "plato3 plato4" 
        "plato5 plato6"
        "plato7 plato8"
        "plato9 plato10";
    }

    .pie{
        display: grid;
        grid-template-areas: 
        "pieDireccion"
        "pieRedes"
        "pieAutor";
    }
}

/*Acá empieza el responsive mobile*/

@media (max-width: 320px) {
    .publiTitulo {
        display: grid;
        grid-template-areas: 
        "tituloLogo" 
        "tituloP1"
        "tituloP2" 
        "tituloP3";
    }

    .navegador {
        display: grid;
        grid-template-areas: 
        "navegadorPagina1"
        "navegadorPagina2"
        "navegadorPagina3" 
        "navegadorPagina4"
        "navegadorPagina5";
    }

    .principalDeporte div {
        display: grid;
        grid-template-columns: auto;
        justify-items: center;
        align-items: stretch;
    }

    .plato{
        display: grid;
        grid-template-areas: 
        "plato1" 
        "plato2" 
        "plato3"
        "plato4" 
        "plato5" 
        "plato6"
        "plato7"
        "plato8"
        "plato9";
    }

}
    

