@font-face {
    font-family: smokun;
    src: url("../Fuentes/Smokum-Regular.ttf");
}

@font-face {
    font-family: sendflowers;
    src: url("../Fuentes/SendFlowers-Regular.ttf");
}

$profiles:(
    platos: green,
    guarni: rgb(0, 255, 76),
    pasta: rgb(94, 255, 0),
    mila: rgb(20, 112, 20),
    picada: rgb(34, 121, 34),
    sandw: rgb(5, 114, 5),
    pizza: rgb(101, 226, 101),
    empa: rgb(35, 143, 35),
    postre: rgb(62, 102, 62),
    bebida: rgb(4, 75, 4),
);

@mixin encabezado ($size) {
    h1 {
        font-size: $size;
    }
    h2 {
        font-size: $size - 5px;
    }
    h3 {
        font-size: $size - 8px;
    }
}

main {
    @include encabezado(35px)
}

@each $profile, $bgcolor in $profiles {
    .#{$profile} {
        color: $bgcolor;
    }
}

@keyframes depor {
    from {
        margin-left: 100%;
        width: 300%;
    }
    
    to {
        margin-left: 0%;
        width: 100%;
    }
}


/*------------responsive mobile----------*/
@media (max-width: 320px) {
 
}


